* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Inter,sans-serif;
  text-align: center;


  margin: 50px auto;
  width: 500px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-size: 20px;
  font-weight: 900;
}

.button {
  margin: 0 10px;
  padding: 1rem 1.2rem;

  align-items: center;

  border: 0;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;

  color: #121212;
  cursor: pointer;

  display: inline-flex;
  flex: 1 1 auto;
  justify-content: center;
  white-space: nowrap;

  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;

  line-height: 1;
  outline: none;
  
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.button:active {
  filter: brightness(95%);
}

button:disabled{
  background-color: #e8e8e8;
  color: #888686;
}

input {
  margin: 10px 0;
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;

  color: black;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

.loader {
  height: 40px;
}